<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Compra de Tickets</title>
</head>
<body>
<h2>Detalles del Partido</h2>
<p>Equipos del partido: <span th:text="${partits.local} + ' vs ' + ${partits.visitant}"></span></p>
<p>Fecha: <span th:text="${partits.data}"></span></p>
<p>Precio del ticket: <span id="precio" th:text="${partits.preu}" data-preu="${partits.preu}"></span></p>

<h2>Detalles del Comprador</h2>
<form id="miFormulario" th:action="@{'/validar-pago/' + ${partits.preu}}" th:object="${request}" method="post">
    <label for="email">Correo Electrónico:</label>
    <input type="text" id="email" th:field="*{email}" required/>

    <input type="hidden" id="amount" th:value="${partits.preu}" th:name="amount"/>
    <input type="hidden" id="productName" th:value="${partits.id}" th:name="productName"/>


    <input type="submit" value="Validar Pago"/>
</form>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>



